table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  padding: 20px;
}

tr,
td,
th {
  vertical-align: middle;
}

// override bootstrap
table > tbody > tr > td {
  padding: 20px!important;
  font-size: 1em;
}
