<!-- Content Header (Page header) -->
<section class="content-header">
  <h1 class="title"><%= title %></h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"></i>Home</a></li>
    <li class="active">Projects</li>
  </ol> -->
  <div class="actions">
    <a href="#" class="btn btn-primary">Create New Proposal</a>
  </div>

</section>
